# Part I - Prosper Loan Data Exploratory Analysis
## by Victor Oguche

## Introduction
The Prosper Loan dataset is a collection of loan records.
Using the Prosper Loan dataset, Exploratory and Explanatory analysis will be carried out with the aim of finding trends, patterns and insight from the loan dataset.

To achieve this, the following questions will be answered in the analysis:

## Preliminary Wrangling

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

> Load in your dataset and describe its properties through the questions below. Try and motivate your exploration goals through this section.

In [63]:
# load in the dataset into a pandas dataframe
df_loan = pd.read_csv('prosperLoanData.csv')

## Assessing Data
Assessing collected dataset

In [64]:
# high-level overview of data shape and composition
df_loan.shape

(113937, 81)

In [65]:
df_loan.head(10)

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20
5,0F05359734824199381F61D,1074836,2013-12-14 08:26:37.093000000,NaN,60,Current,NaN,0.15425,0.1314,0.1214,...,-25.33,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
6,0F0A3576754255009D63151,750899,2013-04-12 09:52:56.147000000,NaN,36,Current,NaN,0.31032,0.2712,0.2612,...,-22.95,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
7,0F1035772717087366F9EA7,768193,2013-05-05 06:49:27.493000000,NaN,36,Current,NaN,0.23939,0.2019,0.1919,...,-69.21,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
8,0F043596202561788EA13D5,1023355,2013-12-02 10:43:39.117000000,NaN,36,Current,NaN,0.07620,0.0629,0.0529,...,-16.77,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
9,0F043596202561788EA13D5,1023355,2013-12-02 10:43:39.117000000,NaN,36,Current,NaN,0.07620,0.0629,0.0529,...,-16.77,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1

In [66]:
df_loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   ListingNumber                        113937 non-null  int64
 2   ListingCreationDate                  113937 non-null  object
 3   CreditGrade                          28953 non-null   object
 4   Term                                 113937 non-null  int64
 5   LoanStatus                           113937 non-null  object
 6   ClosedDate                           55089 non-null   object
 7   BorrowerAPR                          113912 non-null  float64
 8   BorrowerRate                         113937 non-null  float64
 9   LenderYield                          113937 non-null  float64
 10  EstimatedEffectiveYield              84853 non-null   float64
 11  EstimatedLoss                        84853 non-null   float64
 12  EstimatedReturn                      84853 non-null   float64
 13  ProsperRating (numeric)              84853 non-null   float64
 14  ProsperRating (Alpha)                84853 non-null   object
 15  ProsperScore                         84853 non-null   float64
 16  ListingCategory (numeric)            113937 non-null  int64
 17  BorrowerState                        108422 non-null  object
 18  Occupation                           110349 non-null  object
 19  EmploymentStatus                     111682 non-null  object
 20  EmploymentStatusDuration             106312 non-null  float64
 21  IsBorrowerHomeowner                  113937 non-null  bool
 22  CurrentlyInGroup                     113937 non-null  bool
 23  GroupKey                             13341 non-null   object
 24  DateCreditPulled                     113937 non-null  object
 25  CreditScoreRangeLower                113346 non-null  float64
 26  CreditScoreRangeUpper                113346 non-null  float64
 27  FirstRecordedCreditLine              113240 non-null  object
 28  CurrentCreditLines                   106333 non-null  float64
 29  OpenCreditLines                      106333 non-null  float64
 30  TotalCreditLinespast7years           113240 non-null  float64
 31  OpenRevolvingAccounts                113937 non-null  int64
 32  OpenRevolvingMonthlyPayment          113937 non-null  float64
 33  InquiriesLast6Months                 113240 non-null  float64
 34  TotalInquiries                       112778 non-null  float64
 35  CurrentDelinquencies                 113240 non-null  float64
 36  AmountDelinquent                     106315 non-null  float64
 37  DelinquenciesLast7Years              112947 non-null  float64
 38  PublicRecordsLast10Years             113240 non-null  float64
 39  PublicRecordsLast12Months            106333 non-null  float64
 40  RevolvingCreditBalance               106333 non-null  float64
 41  BankcardUtilization                  106333 non-null  float64
 42  AvailableBankcardCredit              106393 non-null  float64
 43  TotalTrades                          106393 non-null  float64
 44  TradesNeverDelinquent (percentage)   106393 non-null  float64
 45  TradesOpenedLast6Months              106393 non-null  float64
 46  DebtToIncomeRatio                    105383 non-null  float64
 47  IncomeRange                          113937 non-null  object
 48  IncomeVerifiable                     113937 non-null  bool
 49  StatedMonthlyIncome                  113937 non-null  float64
 50  LoanKey                              113937 non-null  object
 51  TotalProsperLoans                    22085 non-null   float64
 52  TotalProsperPaymentsBilled           22085 non-null   float64
 53  OnTimeProsperPayments                22085 non-null   float64
 54  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 55  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 56  ProsperPrincipalBorrowed             22085 non-null   float64
 57  ProsperPrincipalOutstanding          22085 non-null   float64
 58  ScorexChangeAtTimeOfListing          18928 non-null   float64
 59  LoanCurrentDaysDelinquent            113937 non-null  int64
 60  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 61  LoanMonthsSinceOrigination           113937 non-null  int64
 62  LoanNumber                           113937 non-null  int64
 63  LoanOriginalAmount                   113937 non-null  int64
 64  LoanOriginationDate                  113937 non-null  object
 65  LoanOriginationQuarter               113937 non-null  object
 66  MemberKey                            113937 non-null  object
 67  MonthlyLoanPayment                   113937 non-null  float64
 68  LP_CustomerPayments                  113937 non-null  float64
 69  LP_CustomerPrincipalPayments         113937 non-null  float64
 70  LP_InterestandFees                   113937 non-null  float64
 71  LP_ServiceFees                       113937 non-null  float64
 72  LP_CollectionFees                    113937 non-null  float64
 73  LP_GrossPrincipalLoss                113937 non-null  float64
 74  LP_NetPrincipalLoss                  113937 non-null  float64
 75  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 76  PercentFunded                        113937 non-null  float64
 77  Recommendations                      113937 non-null  int64
 78  InvestmentFromFriendsCount           113937 non-null  int64
 79  InvestmentFromFriendsAmount          113937 non-null  float64
 80  Investors                            113937 non-null  int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 68.1+ MB

In [67]:
# Drop columns not needed in the exploration and analysis
df_loan = df_loan.drop(['ListingNumber',
'ScorexChangeAtTimeOfListing',
'ListingCreationDate',
'CreditGrade',
'ClosedDate',
'ProsperRating (numeric)',
'EmploymentStatusDuration',
'CurrentlyInGroup',
'GroupKey',
'DateCreditPulled',
'CreditScoreRangeLower',
'CreditScoreRangeUpper',
'FirstRecordedCreditLine',
'CurrentCreditLines',
'OpenCreditLines',
'TotalCreditLinespast7years',
'OpenRevolvingAccounts',
'OpenRevolvingMonthlyPayment',
'InquiriesLast6Months',
'TotalInquiries',
'PublicRecordsLast10Years',
'PublicRecordsLast12Months',
'RevolvingCreditBalance',
'BankcardUtilization',
'TotalTrades',
'TradesNeverDelinquent (percentage)',
'TradesOpenedLast6Months',
'LoanKey',
'LoanFirstDefaultedCycleNumber',
'LoanMonthsSinceOrigination',
'LoanNumber',
'LoanOriginationDate',
'LoanOriginationQuarter',
'MemberKey',
'LP_CustomerPayments',
'LP_CustomerPrincipalPayments',
'LP_InterestandFees',
'LP_ServiceFees',
'LP_CollectionFees',
'LP_GrossPrincipalLoss',
'LP_NetPrincipalLoss',
'LP_NonPrincipalRecoverypayments',
], axis = 1)

In [68]:
# view stat of retained columns
df_loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 39 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   Term                                 113937 non-null  int64
 2   LoanStatus                           113937 non-null  object
 3   BorrowerAPR                          113912 non-null  float64
 4   BorrowerRate                         113937 non-null  float64
 5   LenderYield                          113937 non-null  float64
 6   EstimatedEffectiveYield              84853 non-null   float64
 7   EstimatedLoss                        84853 non-null   float64
 8   EstimatedReturn                      84853 non-null   float64
 9   ProsperRating (Alpha)                84853 non-null   object
 10  ProsperScore                         84853 non-null   float64
 11  ListingCategory (numeric)            113937 non-null  int64
 12  BorrowerState                        108422 non-null  object
 13  Occupation                           110349 non-null  object
 14  EmploymentStatus                     111682 non-null  object
 15  IsBorrowerHomeowner                  113937 non-null  bool
 16  CurrentDelinquencies                 113240 non-null  float64
 17  AmountDelinquent                     106315 non-null  float64
 18  DelinquenciesLast7Years              112947 non-null  float64
 19  AvailableBankcardCredit              106393 non-null  float64
 20  DebtToIncomeRatio                    105383 non-null  float64
 21  IncomeRange                          113937 non-null  object
 22  IncomeVerifiable                     113937 non-null  bool
 23  StatedMonthlyIncome                  113937 non-null  float64
 24  TotalProsperLoans                    22085 non-null   float64
 25  TotalProsperPaymentsBilled           22085 non-null   float64
 26  OnTimeProsperPayments                22085 non-null   float64
 27  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 28  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 29  ProsperPrincipalBorrowed             22085 non-null   float64
 30  ProsperPrincipalOutstanding          22085 non-null   float64
 31  LoanCurrentDaysDelinquent            113937 non-null  int64
 32  LoanOriginalAmount                   113937 non-null  int64
 33  MonthlyLoanPayment                   113937 non-null  float64
 34  PercentFunded                        113937 non-null  float64
 35  Recommendations                      113937 non-null  int64
 36  InvestmentFromFriendsCount           113937 non-null  int64
 37  InvestmentFromFriendsAmount          113937 non-null  float64
 38  Investors                            113937 non-null  int64
dtypes: bool(2), float64(23), int64(7), object(7)
memory usage: 32.4+ MB

### Quality issues
- Erroneous datatypes
- prosper loan value for TotalProsperLoans,TotalProsperPaymentsBilled,OnTimeProsperPayments,ProsperPaymentsLessThanOneMonthLate, ProsperPaymentsOneMonthPlusLate,ProsperPrincipalBorrowed and ProsperPrincipalOutstanding  was null if the borrower has no prior loans. This is to be set to zero.

### Issue:
Erroneous datatypes

### Define:
Correct the datatype for 
LoanStatus, 
ProsperRating, 
ListingCategory, 
EmploymentStatus, 
CurrentDelinquencies, 
DelinquenciesLast7Years, 
TotalProsperLoans, 
TotalProsperPaymentsBilled, 
OnTimeProsperPayments, 
ProsperPaymentsLessThanOneMonthLate, 
ProsperPaymentsOneMonthPlusLate, 
LoanOriginalAmount

### Code:

In [37]:
# Change wrong datatype
df_loan['CurrentDelinquencies'] = df_loan['CurrentDelinquencies'].astype(int, errors ='ignore')
df_loan['DelinquenciesLast7Years'] = df_loan['DelinquenciesLast7Years'].astype(int, errors ='ignore')
df_loan['TotalProsperLoans'] = df_loan['TotalProsperLoans'].astype(int, errors ='ignore')
df_loan['TotalProsperPaymentsBilled'] = df_loan['TotalProsperPaymentsBilled'].astype(int, errors ='ignore')
df_loan['OnTimeProsperPayments'] = df_loan['OnTimeProsperPayments'].astype(int, errors ='ignore')
df_loan['ProsperPaymentsLessThanOneMonthLate'] = df_loan['ProsperPaymentsLessThanOneMonthLate'].astype(int, errors ='ignore')
df_loan['ProsperPaymentsOneMonthPlusLate'] = df_loan['ProsperPaymentsOneMonthPlusLate'].astype(int, errors ='ignore')
df_loan['LoanOriginalAmount'] = df_loan['LoanOriginalAmount'].astype(float, errors ='ignore')

In [45]:
#change datatype
df_loan['ListingCategory (numeric)'] = df_loan['ListingCategory (numeric)'].astype(str)

In [70]:
# convert ordinal columns into categorical types
ordinal_var_dict = {
                    'LoanStatus': ['Current', 'Completed', 'Past Due (1-15 days)', 'Defaulted',
       'Chargedoff', 'Past Due (16-30 days)', 'Cancelled',
       'Past Due (61-90 days)', 'Past Due (31-60 days)',
       'Past Due (91-120 days)', 'FinalPaymentInProgress',
       'Past Due (>120 days)'],
                    'ProsperRating (Alpha)': ['A', 'D', 'B', 'E', 'C', 'AA', 'HR'],
                   'ListingCategory (numeric)': ['0', '2', '16', '1', '7', '13', '6', '15', '20', '19', '3', '18',
       '8', '4', '11', '14', '5', '9', '17', '10', '12'],
                   'EmploymentStatus': ['Self-employed', 'Employed', 'Not available', 'Full-time', 'Other', 'Not employed', 'Part-time', 'Retired']}

for var in ordinal_var_dict:
    ordered_var = pd.api.types.CategoricalDtype(
                                                categories = ordinal_var_dict[var])
    df_loan[var] = df_loan[var].astype(ordered_var)

### test:

In [71]:
#test
df_loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 39 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   Term                                 113937 non-null  int64
 2   LoanStatus                           113937 non-null  category
 3   BorrowerAPR                          113912 non-null  float64
 4   BorrowerRate                         113937 non-null  float64
 5   LenderYield                          113937 non-null  float64
 6   EstimatedEffectiveYield              84853 non-null   float64
 7   EstimatedLoss                        84853 non-null   float64
 8   EstimatedReturn                      84853 non-null   float64
 9   ProsperRating (Alpha)                84853 non-null   category
 10  ProsperScore                         84853 non-null   float64
 11  ListingCategory (numeric)            0 non-null       category
 12  BorrowerState                        108422 non-null  object
 13  Occupation                           110349 non-null  object
 14  EmploymentStatus                     111682 non-null  category
 15  IsBorrowerHomeowner                  113937 non-null  bool
 16  CurrentDelinquencies                 113240 non-null  float64
 17  AmountDelinquent                     106315 non-null  float64
 18  DelinquenciesLast7Years              112947 non-null  float64
 19  AvailableBankcardCredit              106393 non-null  float64
 20  DebtToIncomeRatio                    105383 non-null  float64
 21  IncomeRange                          113937 non-null  object
 22  IncomeVerifiable                     113937 non-null  bool
 23  StatedMonthlyIncome                  113937 non-null  float64
 24  TotalProsperLoans                    22085 non-null   float64
 25  TotalProsperPaymentsBilled           22085 non-null   float64
 26  OnTimeProsperPayments                22085 non-null   float64
 27  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 28  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 29  ProsperPrincipalBorrowed             22085 non-null   float64
 30  ProsperPrincipalOutstanding          22085 non-null   float64
 31  LoanCurrentDaysDelinquent            113937 non-null  int64
 32  LoanOriginalAmount                   113937 non-null  int64
 33  MonthlyLoanPayment                   113937 non-null  float64
 34  PercentFunded                        113937 non-null  float64
 35  Recommendations                      113937 non-null  int64
 36  InvestmentFromFriendsCount           113937 non-null  int64
 37  InvestmentFromFriendsAmount          113937 non-null  float64
 38  Investors                            113937 non-null  int64
dtypes: bool(2), category(4), float64(23), int64(6), object(4)
memory usage: 29.3+ MB

### Issue:
Null placed instead of zero if the borrower has no prior loans.

### Define:
prosper loan value for TotalProsperLoans,TotalProsperPaymentsBilled,OnTimeProsperPayments,ProsperPaymentsLessThanOneMonthLate, ProsperPaymentsOneMonthPlusLate,ProsperPrincipalBorrowed and ProsperPrincipalOutstanding was null if the borrower has no prior loans. This is to be set to zero.

### Code:

In [73]:
# from the dataset dictionary, value will be null if the borrower has no prior loans. so set null to zero for prosper based columns
df_loan['TotalProsperLoans'] = df_loan['TotalProsperLoans'].fillna(0)
df_loan['TotalProsperPaymentsBilled'] = df_loan['TotalProsperPaymentsBilled'].fillna(0)
df_loan['OnTimeProsperPayments'] = df_loan['OnTimeProsperPayments'].fillna(0)
df_loan['ProsperPaymentsLessThanOneMonthLate'] = df_loan['ProsperPaymentsLessThanOneMonthLate'].fillna(0)
df_loan['ProsperPaymentsOneMonthPlusLate'] = df_loan['ProsperPaymentsOneMonthPlusLate'].fillna(0)
df_loan['ProsperPrincipalBorrowed'] = df_loan['ProsperPrincipalBorrowed'].fillna(0)
df_loan['ProsperPrincipalOutstanding'] = df_loan['ProsperPrincipalOutstanding'].fillna(0)

### test:

In [74]:
df_loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 39 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   Term                                 113937 non-null  int64
 2   LoanStatus                           113937 non-null  category
 3   BorrowerAPR                          113912 non-null  float64
 4   BorrowerRate                         113937 non-null  float64
 5   LenderYield                          113937 non-null  float64
 6   EstimatedEffectiveYield              84853 non-null   float64
 7   EstimatedLoss                        84853 non-null   float64
 8   EstimatedReturn                      84853 non-null   float64
 9   ProsperRating (Alpha)                84853 non-null   category
 10  ProsperScore                         84853 non-null   float64
 11  ListingCategory (numeric)            0 non-null       category
 12  BorrowerState                        108422 non-null  object
 13  Occupation                           110349 non-null  object
 14  EmploymentStatus                     111682 non-null  category
 15  IsBorrowerHomeowner                  113937 non-null  bool
 16  CurrentDelinquencies                 113240 non-null  float64
 17  AmountDelinquent                     106315 non-null  float64
 18  DelinquenciesLast7Years              112947 non-null  float64
 19  AvailableBankcardCredit              106393 non-null  float64
 20  DebtToIncomeRatio                    105383 non-null  float64
 21  IncomeRange                          113937 non-null  object
 22  IncomeVerifiable                     113937 non-null  bool
 23  StatedMonthlyIncome                  113937 non-null  float64
 24  TotalProsperLoans                    113937 non-null  float64
 25  TotalProsperPaymentsBilled           113937 non-null  float64
 26  OnTimeProsperPayments                113937 non-null  float64
 27  ProsperPaymentsLessThanOneMonthLate  113937 non-null  float64
 28  ProsperPaymentsOneMonthPlusLate      113937 non-null  float64
 29  ProsperPrincipalBorrowed             113937 non-null  float64
 30  ProsperPrincipalOutstanding          113937 non-null  float64
 31  LoanCurrentDaysDelinquent            113937 non-null  int64
 32  LoanOriginalAmount                   113937 non-null  int64
 33  MonthlyLoanPayment                   113937 non-null  float64
 34  PercentFunded                        113937 non-null  float64
 35  Recommendations                      113937 non-null  int64
 36  InvestmentFromFriendsCount           113937 non-null  int64
 37  InvestmentFromFriendsAmount          113937 non-null  float64
 38  Investors                            113937 non-null  int64
dtypes: bool(2), category(4), float64(23), int64(6), object(4)
memory usage: 29.3+ MB

### What is the structure of your dataset?

> Your answer here!

### What is/are the main feature(s) of interest in your dataset?

> Your answer here!

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> Your answer here!

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.


> **Rubric Tip**: The project (Parts I alone) should have at least 15 visualizations distributed over univariate, bivariate, and multivariate plots to explore many relationships in the data set.  Use reasoning to justify the flow of the exploration.



>**Rubric Tip**: Use the "Question-Visualization-Observations" framework  throughout the exploration. This framework involves **asking a question from the data, creating a visualization to find answers, and then recording observations after each visualisation.**



>**Rubric Tip**: Visualizations should depict the data appropriately so that the plots are easily interpretable. You should choose an appropriate plot type, data encodings, and formatting as needed. The formatting may include setting/adding the title, labels, legend, and comments. Also, do not overplot or incorrectly plot ordinal data.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

## Conclusions
>You can write a summary of the main findings and reflect on the steps taken during the data exploration.


> Remove all Tips mentioned above, before you convert this notebook to PDF/HTML


> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML or PDF` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!